#header {height:100%;text-align:center;color:white;background-color:#333333;}
#menubar {height:auto;text-align:center;color:green;background-color:black;}
#actionwindow{height:910px;overflow:auto;background-color:white}
#footer{height:auto;text-align:center;background-color:#333333;color:white;}


#formactionwindow{height:910px;overflow:hidden;background-color:white}
#loginwindowimage{height:100%;width:35%;background-color:#123b81;float:left; min-height:800px; position:relative; 
    background-image: url("maiden.png");background-size:40% 40%;background-repeat:no-repeat;background-position:center; }
#loginwindowform{height:65%;width:45%;background-color:white;min-height:800px; float:right;}
#loginwindowformtop{height:35%;width:65%;}

#titlebar{height:5%;width:90%;background-color:gray;float:right;text-align: center}
#imagebar{height:100%;width:10%;background-color:#123b81;float:left;text-align: right; min-height:800px; position:relative; 
    background-image: url("maiden.png");background-size: contain; 100px 128px;background-repeat:no-repeat;background-position:50% 95%;}
#window{height:94%;width:88%;float:right;} 
#homewindow{height:100%;width:89%;float:left;display: inline;}
#homeleft{height:100%;width:30%;float:left;}
#homeright{height:100%;width:50%;float:right;}


body {font-family: 'Segoe UI light','Segoe UI';overflow:auto;}


.options td {

    vertical-align:top;
    text-align:left;
    padding:25px;
}

table.generaltables, .generaltables td {
	border-collapse:collapse;
    vertical-align:top;
    text-align:left;
    padding:5px;
    border-style:solid;
    border-width:1px;
    border-spacing:0;
}
}
